services:
  backend:
    build: .
    container_name: justice_backend
    restart: always
    ports:
      - "4000:4000"
    depends_on:
      - db
    env_file:
      - ./.env
    environment:
      - DB_HOST=db
    volumes:
     - .:/app
     - /app/node_modules # Gardez cette ligne pour éviter que node_modules local n'écrase celui du conteneur

    command: >
      sh -c "npm install && npm run dev"

  db:
    image: postgres:17
    container_name: justice_db
    restart: always
    ports:
      - "5432:5432"
    env_file:
      - ./.env
    environment:
      - POSTGRES_USER=${DB_USER:-postgres}
      - POSTGRES_PASSWORD=${DB_PASSWORD:-password123}
      - POSTGRES_DB=${DB_NAME:-justice_pro}
    volumes:
      - db_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: always
    ports:
      - "5050:80"
    depends_on:
      - db
    env_file:
      - ./.env

volumes:
  db_data: